{% extends 'base.html.twig' %}

{% block body_id %}Search clan{% endblock %}

{% block body %}
    <div class="container">
        <h2>Pick a clan</h2>

        {% if clans|length > 0 %}

            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Tag</th>
                        <th>Name</th>
                        <th>Members</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clan in clans %}
                        <tr>
                            <td><a href="/show/{{ clan.clan_id }}">{{ clan.tag }}</a></td>
                            <td>{{ clan.name }}</td>
                            <td>{{ clan.members_count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3>Sorry, no matches!!</h3>
        {% endif %}
    </div>

{% endblock %}